<a href="https://colab.research.google.com/github/PtiGourou26/CV/blob/main/Test_colab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
slider_test = 147  #@param {type: "slider", min: 100, max: 200}
slider_test

In [2]:
import pandas as pd

In [5]:
data_test = pd.read_csv("/Tx_rep_reg_2015_2020.csv")

   RGES TX_REP_1_2015  ... TX_REP_234_2019 TX_REP_234_2020
0    11          45,4  ...            72,3              75
1    21            63  ...            85,4            86,4
2    22          65,4  ...            79,4            86,9

[3 rows x 13 columns]

verification commit

Deuxième vérification commit